/*------------------------------------------------------------------
[Table of contents]
01. Font settings
02. Default style
03. Preloader style
04. Navigation style
05. Slider style
06. Banner style
07. Line style
08. About style
09. Wedding Dates style
10. Testimonials style
11. Clients style
12. Team style
13. Services style
14. Price style
15. FAQs style
16. Gallery style 
17. Video style 
18. Blog style
19. Post style
20. Button style
21. toTop style 
22. Footer style 
23. Overlay Effect Bg image
24. Media Query 
-------------------------------------------------------------------*/

/* ======= Font Settings ======== */
/* Google Fonts: Old Standard TT & Nunito Sans) */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&amp;family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&amp;display=swap');
/*  Custom Font: Signatie  */
@font-face {
    font-family: 'Signatie';
    src: url('../fonts/Signatie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* ======= Default style ======= */
html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    color: #505050;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 300;
    position: relative;
}
p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.75em;
    margin: 0 0 15px;
    color: #505050;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em;
    font-weight: 400;
    font-family: 'Old Standard TT', serif;
    color: #000;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}
b,
strong {
    font-weight: 400;
    color: #a2783a;
}
a {
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #a2783a;
}
a:link {
    text-decoration: none;
}
a:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
img {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #000;
}

dl, ol, ul {
    padding-left: 20px;
}
/* important styles*/
.bg-1 {
   background: #faf7f5;
}

.full-width {
    width: 100% !important;
}
.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.js .animate-box {
    opacity: 0;
}
.section-padding {
    position: relative;
    padding: 120px 0;
}
.section-padding h2 {
    position: relative;
    margin-bottom: 5px;
    font-size: 35px;
}
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-fixed {
    background-attachment: fixed;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}
/* lists */
ul {
    list-style-type: none;
}
/* text field */
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
}
input[type="password"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
input[type="text"]:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
textarea:focus {
    outline: none;
}
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="text"],
input[type="file"],
textarea {
    max-width: 100%;
    margin-bottom: 15px;
    border-color: #ececec;
    padding: 15px 0px;
    height: auto;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0 0 1px;
    border-style: solid;
    display: block;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    color: #000;
    background-image: none;
    border-bottom: 1px solid #ececec;
    border-color: ease-in-out .15s, box-shadow ease-in-out .15s;
}
input:focus,
textarea:focus {
    border-bottom-width: 1px;
    border-color: #a2783a;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    text-shadow: none;
    padding: 10px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 1.75em;
    font-weight: 400;
    border-style: solid;
    color: #fff;
    border-width: 0;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
    background-color: transparent;
    margin: 3px 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: transparent;
}
select {
    padding: 10px;
    border-radius: 5px;
}
th,
tr,
td {
    padding: 10px 0;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline;
}



/* =======  Preloader style  ======= */
.bethany-pageloading {
    color: #a2783a;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}
.bethany-pageloading h1 {
    color: #a2783a;
    font-size: 40px;
}
.bethany-pageloading .logo {
    width: 120px;
}
@-webkit-keyframes preloader-breath-img {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}
@keyframes preloader-breath-img {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}
.bethany-pageloading .bethany-pageloading-inner {
    -webkit-animation-name: preloader-breath-img;
    animation-name: preloader-breath-img;
    -webkit-animation-duration: 1800ms;
    animation-duration: 1800ms;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-timing-function: cubic-bezier(0.73, 0.005, 0.42, 1.005);
    animation-timing-function: cubic-bezier(0.73, 0.005, 0.42, 1.005);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}



/* ======= Navigation style ======= */
.bethany-header-navbar {
    padding: 0;
}
.bethany-start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 15px 0;
}
.bethany-start-header.scroll-on {
    padding: 10px 0;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
}
.bethany-start-header.scroll-on .navbar-brand img {
    height: 60px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.bethany-start-header.scroll-on .navbar-brand h2 {
    font-size: 27px;
}
.bethany-start-header.scroll-on .navbar-brand span {
display: block;
    font-size: 8px;
    letter-spacing: 3px;
}
.bethany-navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar {
    padding: 0;
}
.navbar-brand img {
    height: 85px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar-brand h2 {
    font-family: 'Signatie';
    font-weight: normal;
    font-size: 30px;
    color: #000;
    line-height: 1.25em;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.navbar-brand span {
    display: block;
    color: #a2783a;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 9px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.25em;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler:hover {
    background: transparent;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 16px;
    background-image: none;
    position: relative;
/*    border-bottom: 1px solid #000;*/
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 1px;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
    top: 9px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link {
    transition: all 200ms linear;
}
.nav-item:hover .nav-link {
    color: #a2783a !important;
}
.nav-item.active .nav-link {
    color: #a2783a;
    font-weight: 400;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.nav-link {
    position: relative;
    padding: 1px 0 !important;
    display: inline-block;
}
.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #a2783a;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}
.nav-item {
    position: relative;
    transition: all 200ms linear;
    margin: 5px 12px;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #a2783a;
}
/* Dropdown style */
.bg-light {
    background-color: #fff !important;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
    color: #505050;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    padding: 10px !important;
    margin: 0;
    background-color: #fff;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 200ms linear;
    
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-item {
    color: #505050;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 7px 15px;
    transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
    color: #a2783a;
    background-color: rgba(255, 255, 255);
}
.ti-angle-down {
    font-size: 11px;
}
@media (max-width: 767px) {
    .nav-item:after {
        display: none;
    }
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
        margin-top: 5px !important;
        margin-bottom: 15px !important;
    }
}


/* ======= Slider style ======= */
.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: -webkit-grab;
    cursor: grab;
    z-index: 700;
}
.swiper-button-next,
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background-image: none;
    background-color: #fff;
    z-index: 2;
    cursor: pointer;
}
.swiper-button-next i,
.swiper-button-prev i {
    position: relative;
    left: 40%;
    top: 25%;
    color: #a2783a;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
}
.next-link {
    display: inline-block;
    width: auto;
    position: relative;
    text-decoration: none;
    /* font-family: 'Old Standard TT', serif; */
    font-size: 13px;
    font-weight: 300;
    line-height: 1.75em;
    color: #a2783a !important;
    transition: all .3s ease-in-out;
    padding-left: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.next-link a:hover {
    color: #a2783a;
}
.next-link:before {
    content: '';
    display: inline-block;
    width: 90px;
    height: 1px;
    background: #a2783a;
    position: absolute;
    left: 0;
    bottom: 11px;
}
@-webkit-keyframes arrowRight {
    0% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    50% {
        -webkit-transform: translate(-10px, -50%);
        transform: translate(-10px, -50%);
    }
    100% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}
@keyframes arrowRight {
    0% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    50% {
        -webkit-transform: translate(-10px, -50%);
        transform: translate(-10px, -50%);
    }
    100% {
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}
.swiper-button-next:hover i,
.swiper-button-prev:hover i {
    -webkit-animation: arrowRight 1s infinite;
    animation: arrowRight 1s infinite;
}
.swiper-button-next {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
}
.swiper-button-prev {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;
    display: flex;
}
.swiper-slide-block {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    text-align: left;
}
.swiper-slide-block .swiper-slide-block-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.swiper-slide-block .swiper-slide-block-img a {
    display: block;
    width: 100%;
    height: 100%;
}
.swiper-slide-block .swiper-slide-block-img img {
    width: 100%;
    height: auto;
     -webkit-transition: all .5s;
    transition: all .5s;
}
.swiper-slide-block .swiper-slide-block-img:hover img {
  -webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.09, 1.09);
    transform: scale(1.09, 1.09);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.swiper-slide-block .swiper-slide-block-text {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.swiper-slide-block .next-main-title {
    color: #000;
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2em;
}
.swiper-slide-block .next-main-subtitle {
    margin: 0 0 20px 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    color: #a2783a;
    letter-spacing: 2px;
}
.swiper-slide-block .next-main-subtitle span {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 1.75em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #a2783a;
}
.swiper-slide-block .next-main-subtitle,
.swiper-slide-block .next-main-title,
.swiper-slide-block .next-paragraph {
    z-index: 2;
    position: relative;
}
.swiper-slide-block .next-paragraph {
    max-width: 413px;
    color: #777;
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.75em;
}
.swiper-slide-block .next-number {
    font-family: 'Old Standard TT', serif;
    font-size: 300px;
    font-weight: 600;
    width: 100%;
    display: block;
    color: #faf7f5;
    position: relative;
    bottom: 40px;
    z-index: -1;
    text-align: right;
    margin: 0;
    line-height: 200px;
}
.pozo-section-slider {
    width: 100%;
    height: auto;
    background-color: #fff;
}
.pozo-section-slider .next-container-center {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:768px) {
    .swiper-slide-block .swiper-slide-block-text {
        margin-top: 100px;
    }
}
@media (max-width:768px) {
    .swiper-slide-block .next-number {
    font-family: 'Old Standard TT', serif;
    font-size: 180px;
    font-weight: 600;
    width: 100%;
    display: block;
    color: #faf7f5;
    position: relative;
    bottom: 30px;
    z-index: -1;
    text-align: right;
    margin: 0;
    line-height: 130px;
    }
}
@media (min-width:992px) {
    .pozo-section-slider .swiper-container-horizontal:after {
        content: "";
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 2;
        background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
    }
    .pozo-section-slider .next-container-center {
        max-width: 1245px;
        width: 100%;
    }
}
@media (min-width:1200px) {
    .pozo-section-slider {
        padding-bottom: 40px;
    }
    .swiper-container {
        height: 610px;
    }
    .swiper-button-next {
        right: 135px;
        background-color: #fff;
    }
    .swiper-button-prev {
        bottom: 50px;
        background-color: #fff;
    }
    .swiper-slide-block .swiper-slide-block-img {
        width: 70%;
        max-height: 560px;
        height: 560px;
        max-width: 825px;
        overflow: hidden;
        position: relative;
    }
    .swiper-slide-block .swiper-slide-block-img img {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
    .swiper-slide-block .swiper-slide-block-text {
        width: 30%;
        height: 100%;
        max-height: 560px;
        max-width: 285px;
        position: absolute;
        background-color: transparent;
        top: 0;
        right: 0;
        margin-top: 0;
        padding: 0;
    }
    .swiper-slide-block .swiper-slide-block-text:before {
        content: "";
        display: block;
        width: 200px;
        max-width: 408px;
        height: 100%;
        background-color: #faf7f5;
        position: absolute;
        left: -50px;
    }
    .swiper-slide-block .next-main-title {
        margin-top: 150px;
    }
    .swiper-slide-block .next-number {
        margin-top: 80px;
        font-size: 200px;
        font-weight: 500;
    }
}


/* =======  About  ======== */
.about {
    margin-bottom: 30px;
    margin-top: 30px;
}
.about .numb {
    font-size: 200px;
    line-height: 150px;
    font-weight: 400;
    font-family: 'Old Standard TT', serif;
    color: #a2783a;
    margin-bottom: 0;
}
.about .image {
    position: relative;
}
.about .image .img {
    position: relative;
    margin-bottom: 20px;
}
.about .image .img img {}
.pt-130 {
    padding-top: 130px;
}

/* ======= Banner style ======= */
.banner-header {
    height: 60vh;
    background-position: center;
    margin-top: 105px;
}
.banner-header h1 {
    font-size: 45px;
    font-family: 'Signatie';
    font-weight: normal;
    color: #fff;
    position: relative;
    margin-bottom: 0;
}
@media screen and (max-width: 767px) {
    .banner-header {
        height: 50vh;
        margin-top: 105px;
    }
    .banner-header h1 {
        font-size: 35px;
    }
}


/* ======= Line style ======= */
hr {
    margin-top: 0;
    margin-bottom: 30px;
}
.line-hr-center {
    width: 60px;
    border-top: 1px solid #a2783a;
}
.line-hr-primary {
    width: 100%;
    border-top: 1px solid #a2783a;
}
.line-hr-left {
    width: 60px;
    border-top: 1px solid #a2783a;
    margin: 0 0 30px 0;
}
.line-hr-right {
    width: 60px;
    border-top: 1px solid #a2783a;
    margin: 0 0 20px 0;
}
.line-vr-section {
    position: relative;
    margin: -25px auto;
    border: 0;
    border-left: 1px solid;
    border-color: #a2783a;
    width: 1px;
    height: 50px;
    z-index: 10;
}


/* ======= About style ======= */
.about-img img:hover {
    transform: scale(0.95);
}
.about-img {
    position: relative;
}

.about-img .img {
    padding: 0 30px 30px 0;
    position: relative;
}
.about-img .img:before {
    content: '';
    position: absolute;
    top: 30px;
    right: 0;
    left: 45px;
    bottom: 0;
    border: 10px solid rgba(245,240,236,1);
}
.about-img .img img {
    position: relative;
    z-index: 2;
}
.about-img-2 {
    position: relative
}
.about-img .about-img-2 {
    width: 60% !important;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 3;
    color: #000;
    font-family: 'Signatie';
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 1.5em;
    text-align: center;
    transform: rotate(-30deg);
}


/* ======= Wedding Dates style ======= */
.wedding-date-table{
    width: 100%;
    text-align: center;
}
.wedding-date-table h6 {
    color: #000;
    margin-bottom: 0;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-align: right;
    padding-right: 20px;
}
.wedding-date-table p {
    font-family: 'Signatie';
    font-size: 25px;
    color: #505050;
    margin-bottom: 4px;
    text-align: left;
    padding-left: 20px;
    font-weight: normal;
    font-style: normal;
}
.wedding-date-table span {
    color: #505050;
    margin-bottom: 4px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-size: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-align: right;
}
.wedding-date-table tr {
    padding: 10px;
    border-bottom: 1px solid #e2d4c8;
}
.wedding-date-table tr:last-child {
    padding: 10px;
    border-bottom: 0px solid #a2783a;
}
.wedding-date-table tr td.vr{
    position: absolute;
    margin: 0;
    border: 0;
    border-left: 1px solid;
    border-color: #a2783a;
    width: 1px;
    height: 100%;
    z-index: 10;
    top: -2px;
}
.wedding-date-table tr td.hr{
width: 100px;
    border-top: 1px solid #a2783a;
    margin: 0 0 20px 0;
}


/* =======  Testimonials style  ======= */
.testimonials {
  position: relative;
  padding-bottom: 0;
  z-index: 3;
  padding: 120px 0 15px 0;
}
.testimonials .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 120px;
  width: 100%;
  z-index: -1;
}
.testimonials .testim {
  position: relative;
}
.testimonials .box {
  padding: 15px;
}
.testimonials .item {
  padding: 50px 30px;
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background: #fff;
}
.testimonials .item .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: table-cell;
  position: relative;
}
/*.testimonials .item .img:after {
  content: '';
  position: absolute;
  width: 78px;
  height: 78px;
  top: -4px;
  left: -4px;
  border-radius: 50%;
  border: 2px solid rgba(248,244,243,1);
}*/
.testimonials .item .img img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 50%;
}
.testimonials .item p {
  margin-top: 20px;
  color: #505050;
  margin-bottom: 0;
}
.testimonials .item .info {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 15px;
}
.testimonials h2,
.testimonials h6 {
    color: #fff;
}

.testimonials .line-hr-center {
    width: 60px;
    border-top: 1px solid #fff;
}

.testimonials .sec-head .tbg {
    color: #fff;
    opacity: 0.25;
}
.testimonials .item .info h5 {
    font-family: 'Old Standard TT', serif;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 0px;
    color: #000;
    text-transform: none;
    line-height: 1em;
}
.testimonials .item .info span {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    color: #a2783a;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}



/* =======  Clients style  ======= */
.clients {
    background: #FBF9F9;
    padding: 30px 0;
}
.clients .owl-carousel {
    margin: 0;
}
.clients .client-logo {
    opacity: 1;
    line-height: 0;
}
.clients .client-logo:hover {
    opacity: 1;
}
.clients img {
    -webkit-filter: none;
    filter: none;
    border: 1px solid #FBF9F9;
}
.clients img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .5s;
    transition: all .5s;
}


/* ===== Team styles ===== */
.team .item {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    box-sizing: border-box
}
.team .item-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
}
.team .item:hover .info .social {
    top: 0;
}
.team .info {
    background-color: #fff;
    text-align: center;
    padding: 30px 15px;
    position: relative;
    overflow: hidden;
}
.team .info h5 {
    margin-bottom: 0px;
    font-size: 20px;
    color: #000;
}
.team .info h6 {
    font-family: 'Nunito Sans', sans-serif;
    color: #505050;
    font-size: 15px;
    margin-bottom: 0px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 300;
}
.team .info p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0px;
}
.team .info .social {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.team .info .social a {
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #a2783a;
    margin: 0 2px;
    font-size: 16px;
}
.team .info .social a:hover {
    color: #000;
}


/* ======= Services style ======= */

.bethany-services-section {
    margin-top: 160px;
}
.services-item {
    position: relative;
    outline: none;
}

.services-item {
    margin-left: 5px;
    margin-bottom: 40px;
}
.services-item:focus {
    outline: none;
}
.services-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    background-color: rgba(255, 255, 255,0.75);
    width: 90%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 20px;
    display: flex;
}
.services-imghover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    background: rgba(255, 255, 255,0.75);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.services-item:hover .services-caption {
    opacity: 1;
}
.services-item:hover .services-imghover {
    opacity: 1;
}
.services-title {
    font-size: 25px;
    line-height: 1.5em;
    font-weight: 400;
    color: #000;
    padding: 0;
    font-family: 'Old Standard TT', serif;
    margin-bottom: 10px;
}
.services-subtitle {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: normal;
    color: #000;
    padding: 0;
    font-family: 'Signatie';
    margin-bottom: 10px;
}
.services-container {
    padding: 0;
}

@media (max-width: 991px) {
    .services-item {
        margin-bottom: 30px;
    }
}


/* =======  Price style  ======= */
.price .item {
    padding: 60px 30px;
    background: #fff;
    text-align: center;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin: 10px 0;
}
.price .item .type {
    position: relative;
    border-bottom: 1px solid #eee;
    position: relative;
}
.price .item .type:after {
    content: '';
    width: 20px;
    height: 20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fff;
    position: absolute;
    bottom: -11px;
    left: calc(50% - 10px);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.price .item .type h6 {
    position: relative;
    color: #000;
    font-family: 'Old Standard TT', serif;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
}
.price .item .value {
    margin: 30px 0;
}
.price .item .value h4 {
    font-size: 40px;
    margin-bottom: 0;
}
.price .item .value h4 span {
    font-size: 15px;
}
.price .item .value p {
    font-size: 12px;
    font-weight: 300;
    margin-top: 0px;
    color: #a2783a;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 3px;
}
.price .item .feat ul {
    margin-bottom: 30px;
    padding: 0;
}
.price .item .feat li {
    color: #505050;
    margin-bottom: 10px;
}
.price .item .feat li:last-child {
    margin-bottom: 0;
}
.price .item .feat del {
    opacity: .8;
}


/* ======= FAQs style ======= */
.faqs-accordion .accordion .item {
    margin-bottom: 20px;
}
.faqs-accordion .accordion .title {
    padding: 18px 60px 18px 20px;
    background: #fff;
    cursor: pointer;
    position: relative;
    border: 1px solid #f7f4f1;
}
.faqs-accordion .accordion .title:after {
    content: '\e61a';
    font-family: 'themify';
    font-weight: normal;
    font-size: 13px;
    position: absolute;
    top: 18px;
    right: 20px;
}
.faqs-accordion .accordion .title h6 {
    font-size: 18px;
    margin-bottom: 0;
    letter-spacing: 0;
    color: #000;
    text-transform: none;
    font-family: Old Standard TT', serif;
}
.faqs-accordion .accordion .accordion-info {
    display: none;
    padding: 0px 15px;
    margin-top: 30px;
    border-left: 1px solid #f7f4f1;
}
.faqs-accordion .accordion .active {
    display: block;
}
.faqs-accordion .accordion .active .title {
    color: #000;
    background: #f5f0ec;
}
.faqs-accordion .accordion .active .title:after {
    content: '\e622';
}
.faqs-accordion .accordion .active .title h6 {
    color: #000;
}
.faqs-accordion .accordion .accordion-info ul {
    list-style-type: disc;
}


/* ======= Gallery style ======= */
.gallery-item {
    position: relative;
    margin-bottom: 30px;
}
.gallery-box {
    overflow: hidden;
    position: relative;
}
.gallery-box .gallery-img {
    position: relative;
    overflow: hidden;
}
.gallery-box .gallery-img:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.gallery-box .gallery-img > img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    border-radius: 0;
}
.gallery-box .gallery-detail {
    opacity: 0;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.gallery-box .gallery-detail h4 {
    font-size: 17px;
}
.gallery-box .gallery-detail p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
}
.gallery-box:hover .gallery-detail {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}
.gallery-box:hover .gallery-img:after {
    background: rgba(0, 0, 0, 0.1);
}
.gallery-box:hover .gallery-img > img {
    transform: scale(1.05);
}


/* ======= Video style ======= */
.video-gallery-button {
    position: relative;
    margin: auto;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 4;
    margin-left: 15px;
    float: right;
}
.video-gallery-polygon {
    z-index: 2;
    padding-left: 5px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,1);
    color: #fff;
    padding: 7px 6px 7px 8px;
    line-height: 0;
}
.video-gallery-polygon:hover {
    background: #b19777;
    border: 1px solid #b19777;
    color: #fff;
}


/* ====== Blog style ====== */
.blog .img {
  position: relative;
    overflow: hidden;
}

.blog .img:hover img {
    -webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.09, 1.09);
    transform: scale(1.09, 1.09);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.blog .img img {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.blog .content {
  width: 100%;
  padding: 30px 60px;
}
.blog .content .date {
  display: table-cell;
  position: relative;
  width: 80px;
  z-index: 2;
}
.blog .content .date h3 {
    font-size: 60px;
    font-weight: 700;
    color: #a2783a;
    margin-bottom: 0px;
}
.blog .content .date h6 {
    color: #505050;
    letter-spacing: 2px;
    font-size: 10px;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.blog .content .cont {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}
.blog .content .cont h4 {
  margin: 15px 0;
  font-size: 25px;
}
.blog .content .cont .more {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a2783a;
  padding-left: 40px;
  position: relative;
}
.blog .content .cont .more:after {
  content: '';
  width: 30px;
  height: 1px;
  background: #a2783a;
  position: absolute;
  top: 50%;
  left: 0px;
}
.blog .content .cont .more:hover {
   color: #000; 
}
.blog .content .info h6 {
    font-size: 10px;
    letter-spacing: 2px;
    color: #505050;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}
.blog .content .info .tags {
  color: #a2783a;
}
@media screen and (max-width: 991px) {
    .blog .content {
    padding: 0 30px;
    margin-top: 40px;
    }
    .blog .content .cont h4 {
        line-height: 1.25em;
    }
    .order2 {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
  }
    .order1 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }  
}
@media screen and (max-width: 480px) {
    .blog .content {
    padding: 0 15px;
  }
    .blog .content .date {
    width: 60px;
  }
    .blog .content .info .tags {
    margin: 5px 0 0;
  }
    .blog .content .date h3 {
    font-size: 40px;
  }
}
/* pagination */
.blog-pagination-wrap {
    padding: 0;
    margin: 90px 0 0 0;
    text-align: center;
}
.blog-pagination-wrap li {
    display: inline-block;
    margin: 0 3px;
    border-radius: 100%;
}
.blog-pagination-wrap li a {
    background: #FBF9F9;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #505050;
    font-weight: 400;
    font-size: 13px;
    border-radius: 100%;
    font-family: 'Nunito Sans', sans-serif;
}
.blog-pagination-wrap li a:hover {
    opacity: 1;
    text-decoration: none;
    background-color: #a2783a;
    color: #fff;
}
.blog-pagination-wrap li a.active {
    background-color: #a2783a;
    border: 1px solid #a2783a;
    color: #fff;
}
.blog-pagination-wrap li a i {
   font-size: 10px; 
}
@media screen and (max-width: 768px) {
    .blog-pagination-wrap {
        padding: 0 0 60px 0;
        margin: 0;
        text-align: center;
    }
}


/* ======= Post style ======= */
.post-section {
    padding-top: 120px;
    padding-bottom: 90px;
}

.post-caption h3 {
    font-size: 25px;
}
.post-comment-wrap {
    display: flex;
    margin-bottom: 60px;
}
.post-user-comment {
    margin-right: 20px;
    flex: 0 0 auto;
}
.post-user-comment img {
    border-radius: 100%;
    width: 100px;
}
.post-user-content {
    margin-right: 26px;
}
.post-user-content h3 {
    font-size: 20px;
}
.post-user-content h3 span {
    font-size: 12px;
    line-height: 1.5em;
    color: #505050;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    margin-left: 15px;
}
.post-repay {
    font-size: 12px;
    line-height: 1.75em;
    color: #000 !important;
    margin: 0;
    font-weight: 400;
}

/* ======= Button style ======= */
/* btn1 */
.bethany-btn {
    position: relative;
    line-height: 1em;
}
.bethany-btn a {
    font-family: 'Nunito Sans', sans-serif;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 12px 30px;
    margin: 0;
    font-weight: 400;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.bethany-btn a:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 1;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.bethany-btn a span {
    position: relative;
    z-index: 2;
}
.bethany-btn a:hover:after {
    width: 100%;
    left: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.bethany-btn a:hover span {
    color: #000;
}
/* btn2 */
.bethany-btn2 {
    border: 1px solid #a2783a;
    color: #fff;
    font-weight: 400;
    position: relative;
    z-index: 1;
    outline: none;
    width: fit-content;
    background: #a2783a;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
}
.bethany-btn2:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    -webkit-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    -o-transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.bethany-btn2:hover,
.bethany-btn2:focus {
    border-color: #a2783a;
    color: #000 !important;
}
.bethany-btn2:hover:after,
.bethany-btn2:focus:after {
    width: 100%;
     color: #000;
}
/* button more */
.bethany-more {
    color: #000;
    font-size: 12px;
    border-bottom: 1px solid #a2783a;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.bethany-more:hover {
    border-color: transparent;
}


/* ======= toTop ======= */
.totop {
    height: 9px;
    opacity: 0;
    position: fixed;
    right: -60px;
    width: 49px;
    z-index: 999;
    display: block;
    top: 85%;
    background-repeat: no-repeat;
    background-position: center 15px;
    background-color: rgba(245,240,236,1);
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
    color: #505050;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    border-radius: 50%;
    padding: 28px 0 21px 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.totop-vissible {
    right: 10px;
    opacity: 1;
}
.totop:before {
    position: absolute;
    content: "\e627";
    top: 10px;
    left: 50%;
    margin-left: -6px;
    font-size: 11px;
    display: inline-block;
    font-family: "themify";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
.totop:hover {
    color: #505050;
}
.totop:focus {
    color: #505050;
}


/* ======= Footer ======= */
.main-footer {
    padding: 100px 0 0;
}
.main-footer.dark {
    background: #a2783a;
    color: #fff;
}
.main-footer .abot p {
    color: #fff;
}

.main-footer .abot .logo img {
    height: 65px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.main-footer .abot .social-icon {
    margin-top: 20px;
}
.main-footer .abot .social-icon a {
    font-size: 15px;
    margin-right: 10px;
    color: #fff;
}
.main-footer .abot .social-icon a:hover {
    color: #fff;
}
.main-footer .usful-links ul {
    margin: 0;
    padding: 0;
}
.main-footer .usful-links ul li {
    margin-bottom: 5px;
}
.main-footer .usful-links ul li:hover {
    color: #a2783a;
}
.main-footer .usful-links ul li i {
    font-size: 7px;
    color: #fff;
    margin-right: 3px;
}
.main-footer .usful-links ul li a {
    color: #fff;
}
.main-footer .fothead h6 {
    color: #fff;
    font-size: 20px;
}
.main-footer .fotcont .fothead h6 {
    position: relative;
    padding-bottom: 5px;
}
.main-footer .fotcont .fothead h6:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    height: 1px;
}
.main-footer .fotcont p {
    margin-bottom: 0px;
    color: #fff;
}
.main-footer .sub-footer {
    padding: 30px 0;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.main-footer .sub-footer p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}
.main-footer .sub-footer p a {
   color: #fff;
}
.main-footer .logo h2 {
    font-family: 'Signatie';
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    line-height: 1.25em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.main-footer .logo span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 9px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.25em;
}

.main-footer .sub-footer .text-right-left {
    
    text-align: right!important;
}


/* ======= Overlay Effect Bg image ======= */
[data-overlay-dark],
[data-overlay-light] {
    position: relative;
}
[data-overlay-dark] .container,
[data-overlay-light] .container {
    position: relative;
    z-index: 2;
}
[data-overlay-dark]:before,
[data-overlay-light]:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
[data-overlay-dark]:before {
    background: #000;
}
[data-overlay-light]:before {
    background: #fff;
}
[data-overlay-dark] h1,
[data-overlay-dark] h2,
[data-overlay-dark] h3,
[data-overlay-dark] h4,
[data-overlay-dark] h5,
[data-overlay-dark] h6,
[data-overlay-dark] span {
    color: #fff;
}
[data-overlay-dark] p {
    color: #bbb;
}
[data-overlay-dark="0"]:before,
[data-overlay-light="0"]:before {
    opacity: 0;
}
[data-overlay-dark="1"]:before,
[data-overlay-light="1"]:before {
    opacity: 0.1;
}
[data-overlay-dark="2"]:before,
[data-overlay-light="2"]:before {
    opacity: 0.2;
}
[data-overlay-dark="3"]:before,
[data-overlay-light="3"]:before {
    opacity: 0.3;
}
[data-overlay-dark="4"]:before,
[data-overlay-light="4"]:before {
    opacity: 0.4;
}
[data-overlay-dark="5"]:before,
[data-overlay-light="5"]:before {
    opacity: 0.5;
}
[data-overlay-dark="6"]:before,
[data-overlay-light="6"]:before {
    opacity: 0.6;
}
[data-overlay-dark="7"]:before,
[data-overlay-light="7"]:before {
    opacity: 0.7;
}
[data-overlay-dark="8"]:before,
[data-overlay-light="8"]:before {
    opacity: 0.8;
}
[data-overlay-dark="9"]:before,
[data-overlay-light="9"]:before {
    opacity: 0.9;
}
[data-overlay-dark="10"]:before,
[data-overlay-light="10"]:before {
    opacity: 1;
}


/* ======= Media Query ======= */
@media (max-width: 992px) {
    ul.nav > li > a {
        padding: 0 5px;
        font-size: 10px;
    }
    .bg-fixed {
        background-attachment: scroll !important;
    }
}
@media all and (max-width: 767px) {
    .section-padding {
            position: relative;
            padding: 60px 0;
        }
    h2 {
        font-size: 24px;
    }
    h2 br,
    p br {
        display: none;
    }
    .main-footer .sub-footer .text-right-left {
        text-align: left!important;
    }
    
}

/*custom css*/

.eventbg {
    background-repeat: no-repeat;
       background-size: 100% 100%;
        width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
        height: 100vh;
}

h2.text.decor_title {
color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;

}
.baby_button.swiper-button-prev {
       /* background-image: url('https://cdn.shopify.com/s/files/1/1608/0129/files/arrow-left.png?v=1617598785');*/
    top: 60.5%;
    left: 10px;
        width: 40px;
    height: 40px;
    background-color: #fff;
        border-radius: 50%;
        bottom: 0;
}
.baby_button.swiper-button-next {
       /*  background-image: url('https://cdn.shopify.com/s/files/1/1608/0129/files/arrow.png?v=1617598776');*/
    top: 56.5%;
    right: 10px;
        width: 40px;
    height: 40px;
    background-color: #fff;
        border-radius: 50%;
}

img.img-fluid {
    width: 350px;
    height: 350px;
}

.baby_button.swiper-button-prev i {
        font-weight: bold;
        z-index: 999;
            left: 30%;

}
.section-padding {
       padding: 50px 0;
}
.pt-130 {
    padding-top: 50px;
}
img.services-img {
    height: 400px;
}

/*.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/

a.baby_shop {

    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
        font-weight: bold;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
      min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
 display: block;
}
a.baby_shop:hover{
    color: #a2783a;
}

h2.title {
    color: #a2783a;
    position: relative;
    margin-bottom: 5px;
    font-size: 35px;
    text-align: center;
    letter-spacing: .5px;
}
.baby_flex{
    display: flex;
    flex-wrap: wrap;
        padding-top: 20px;
}
.baby25{
    flex: 0 0 25%;
    max-width: 25%;
        display: flex;
    justify-content: center;
    padding-top: 40px;
}
img.event_img {
    height: 350px;
    width: 400px;
}
.video_flex{
    display: flex;
    flex-wrap: wrap;
}
.video50{
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 50px;
}
section.video_gallary.container2 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.evenr {
    text-align: center;
}

.baby_shower{
    margin-top: 162px;
    margin-bottom: 66px;
}
section.video_gallary.container2 {
    margin-top: 130px;
}
.cl_star{
    color: #f9b403;
    font-size: 15px !important;
}

.bg-light {
    background-color: #fff!important;
}
/*media*/
@media only screen and (max-width: 1700px) {
    .baby25 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
img.event_img {
    height: 300px;
    width: 350px;
}
}
@media only screen and (max-width: 1200px) {
    .eventbg {
    height: 48vh;
    margin-top: 130px;
    }
/*    .container {
    max-width: 1070px;
}*/
.video_flex {
    display: unset;
    flex-wrap: wrap;
}
.video50 {
    flex: 0 0 100% ;
    max-width: 100% ;
        padding-top: 20px;

   
}
img.services-img {
    height: 320px;
}
img.img-fluid{
        height: 300px;
}
.baby25 {
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 991px) {
img.img-fluid {
    width: 300px;
    height: 235px;
}
.col-md-4 {
       flex: 0 0 50%;
    max-width: 50%;
}
}
@media only screen and (max-width: 768px) {
    .custon_videos iframe {
    width: 500px;
}
      img.img-fluid {
    width: 250px;
    height: 210px;
}
.eventbg {
    height: 35vh;
   }
   img.services-img {
    height: 250px;
}
.baby25 {
    flex: 0 0 100%;
    max-width: 100%;
}
.section-padding {
    padding: 25px 0;
}

}
@media only screen and (max-width: 540px) {
    .custon_videos iframe {
    width: 375px;
}
 .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
}
img.img-fluid {
    width: 320px;
    height: 280px;
}
img.services-img {
    height: 320px;
}

}
@media only screen and (max-width: 414px) {
    .custon_videos iframe {
    width: 328px;
}
img.event_img {
        width: 300px;
}
}

@media only screen and (max-width: 360px) {
    .custon_videos iframe {
    width: 282px;
    height: 240px;
}
.eventbg {
    height: 31vh;
}
}
@media only screen and (max-width: 320px) {
    img.event_img {
    width: 270px;
    height: 200px;
}
}