<head>
</head>
<header>
    <div class="bethany-header-navbar">
        <div class="container bethany-navbar-container">
            <div class="bethany-navigation-wrap bg-light bethany-start-header start-style">
                <div class="container rakesh">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" href="index.html">
                                    <img src="images/logos.png" alt="">
                                    <!-- <h2>Bethany<span>Wedding & Event</span></h2> -->
                                </a>
                                <!-- Menu -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                                <div class="colContactlapse navbar-collapse collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto py-4 py-md-0">
                                        <li class="nav-item "> <a class="nav-link" href="index.html">Home</a></li>
                                        <li class="nav-item dropdown"> <a class="nav-link dropbtn" href="#">Categories     <i class="fa fa-caret-down"></i> </a>
                                            <div class="dropdown-content">
                                                <a href="BabyShower.html " class="baby_shop">Baby Shower</a>
                                                <a href="BabyWelcom.html" class="baby_shop">Baby Welcome </a>
                                                <a href="BirthdayDecoration.html" class="baby_shop">Birthday Decoration  </a>
                                                <a href="NameCeremony.html" class="baby_shop">Naming Ceremony </a>
                                                <a href="RoomDecoration.html" class="baby_shop">Room Decoration</a>
                                                <a href="ThemeDecoration.html" class="baby_shop">Theme Decoration </a>
                                                <a href="HaldiCeremony.html " class="baby_shop">Haldi Ceremony </a>
                                                <a href="BrideDecoration.html" class="baby_shop">Bride to be Decoration </a>
                                                <a href="EngagementDecoration.html" class="baby_shop">Engagement Decoration </a>
                                                <a href="ShopInauguration.html" class="baby_shop">Shop Inauguration </a>
                                                <a href="CorporateEvent.html" class="baby_shop">Corporate Event</a>
                                                <a href="SurprisePlanning.html" class="baby_shop">Surprise Planning</a> 

                                            </div>
                                        </li>
                                        <li class="nav-item"> <a class="nav-link" href="videos.html">Videos</a></li>
                                        <li class="nav-item"> <a class="nav-link" href="Gallery.html">Gallery</a> </li>
                                        <li class="nav-item"> <a class="nav-link" href="contact.html">Contact</a> </li>
                                        <li class="nav-item"> <a class="nav-link" href="http://happyeventsurat.com/all/nexa/img_login.php">login</a> </li>
                                    </ul>
                                </div>

                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>