.show_user_Data .btn-default{
    display: none;
}
.show_user_Data {
    height: 38px;
    width: 95%;
}
.user_date{
    height: 38px;
    width: 94%;
    margin-left: 8px;
}
.filter_div{
    display: flex;
    width: 50%;
    margin-left: 7px;
}
.dropdown_user_div{
    display: flex;
    width: 60%;
    margin-left: 20%;
}
.user_dropdown{
    display: flex;
    width: 50%;
    justify-content: end;
    margin-right: 35px;
}
.user_amount{
    display: flex;
    width: 50%;
    margin-top: 10px;
    margin-left: 17px;
    margin-right: 8px;
}
.cashbook_amount{
    display: flex;
    height: 38px;
    width: 92%;
}
.remark_amount{
    height: 38px;
    width: 88%;
    margin-top: 10px;
}
.user_amount_div{
    display: flex;
    width: 60%;
    margin-left: 20%;
}
.user_remark{
    display: flex;
    width: 50%;
}
.buttons_div{
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
}
.clscash_in{
    height: 35px;
    width: 91%;
    font-weight: bolder;
}
.clscash_out{
    width: 88%;
    font-weight: bolder;
}
.cash_in_button_div{
    margin-left: 17px;
    display: flex;
    width: 50%;
}
.cash_out_button_div{
    display: flex;
    width: 50%;
}
.card{
    margin-top: 20px;
    width: 56%;
    margin-left: 21%;
}
.cls_cashbook_search_div{
    margin-bottom: 10px;
    width: 99%;
}
.cls_cashbook_search{
    text-align: center;
    width: 99%;
    margin-left: 10px;
}
.cashbook_filter_div{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}
.btn-default{
    display: none;
}
#cashbook_filter_date{
    width: 49%;
    margin-left: 1%;
}
.show_user_fltr_div{
    width: 50%;
}
.show_user_data_filter{
    width: 98%;
    height: 28px;
    margin-left: 1%;
}
.alert-danger{
    display: none;
}
.dataBlank{
    width: 55.5%;
    margin-left: 21%;
}
.cashbook_html{
    font-size: 18px;
    font-weight: bolder;
    border-bottom: 2px solid #000000a6;
}
.user_amount_add{
    display: flex;
    width: 50%;
    justify-content: end;
    margin-right: 13px;
    text-decoration: underline;
}
.user_data_show{
    margin-left: 13px;
    display: flex;
    margin-top: 15px;
}
.user_name_add{
    width: 50%;
}
.user_date_add{
    margin-left: 28px;
}
.user_remark_add{
    margin-left: 28px;
}
.user_status_add{
    margin-left: 25px;
    margin-bottom: 15px;
}
.border_classs{
    border-bottom: 2px solid #000000a6;
}
.cashbook_data_html{
    font-size: 18px;
    font-weight: bolder;
}
.cash_in_color{
    color: #25d225;
}
.cash_out_color{
    color: #f45b5b;
}
.cash_in_entry{
    color:#25d225;
}
.cash_out_entry{
    color: #f45b5b;
}
.card .header{
    display: flex;
    width: 100%;
}
.card .cbdash{
    width: 50%;
}
.card .header h2{
    font-size: 18px;
}
.card .header a{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-width: 500px) {
    .dropdown_user_div{
        display: block;
    }
    .filter_div{
        width: 100%;
        margin-left: 0px;
    }
    .user_dropdown{
        width: 100%;
        margin-top: 10px;
    }
    .show_user_Data{
        width: 100%;
    }
    .user_amount_div{
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .user_amount{
        width: 100%;
        margin-left: 0px !important;
    }
    .cashbook_amount{
        width: 100%;
        margin-left: 0px;
    }
    .user_remark{
        width: 100%;
        display: block;
    }
    .remark_amount{
        width: 100%;
        margin-left: 0px;
    }
    .buttons_div{
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cash_in_button_div{
        width: 100%;
        margin-left: 0px;
    }
    .clscash_in{
        width: 100%;
    }
    .cash_out_button_div{
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .clscash_out{
        margin-left: 0px;
        width: 100%;
    }
    .card{
        width: 100%;
        padding: 5%;
        margin-left: 0px;
    }
    .cls_cashbook_search{
        margin-left: 3px;
    }
    .dropdown_user_div{
        width: 100%;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .user_date{
        width: 100%;
        margin-left: 0px;
    }

}

@media screen and (max-width: 1100px) {
    #cashbook_form{
        width: 100%;
    }
    .dropdown_user_div{
        width: 100%;
        margin-left: 1%;
    }
    .user_amount_div{
        width: 100%;
        margin-left: 1%;
    }
    .buttons_div{
        width: 100%;
        margin-left: 1%;
    }
    .card{
        width: 100%;
        margin-left: 0px;
    }
}