.baby_flex img{
    display: flex;
    width: 501px;
    height: 500px;
    margin: 10px;
}
.babyimage{
    display: flex;
}
.baby_flex{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
    .baby_flex img{
        width: 387px !important;
        height: 387px !important;
    }
}
@media screen and (max-width: 900px) {
    .baby_flex img{
        width: 410px !important;
        height: 410px !important;
    }
    .navbar-expand-md{
        max-width: 100% !important;
    }
}
