.theme-orange .user-info{
    display: flex;
    padding-left: 1px;
}
.thumbnail{
    width: 60%;
    height: 60%;
}
.result{
    display: flex;
    width: 80%;
    height: 80%;
}
#fileupload{
    margin-left: 34px;
}
b{
    margin-left: 34px;
}
#dvPreview{
    display: flex;
    width: 917px;
    flex-wrap: wrap;
    margin-left: -285px;
    margin-bottom: 46px;
    height: 137px;
    margin-top: 16px;
}
.clssize{
    color: red;
    font-size: 25px;
    margin-left: -191%;
}
.scrollbar{
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
.clscategory{
    display: flex;
    width: 20%;
    left: 74%;
}
.clssubmit{
    display: flex;
    left: 62%;
    top: 44px;
    width: 12%;
    justify-content: center;
}
.btn-default{
    border-radius: 5px !important;
    border: 1px solid !important;
}
.clsctgrys .bs-caret{
    padding-left: 0px;
}
.dropdown-toggle::after{
    margin-left: -6px;
    color: black;
}
.remove{
    border-radius: 4px !important;
    height: 30px;
    display: flex;
    margin-top: 2px;
    width: 80px;
    justify-content: center;
}
.clsctgr{
    display: contents;
}
.row{
    margin-left: 7px;
    height: 55px;

}
.row h2{
    margin-left: 34px;
}
.upld{
    display: contents;
}
.clslbl{
    margin-left: 34px;
    font-weight: 700;
}
.maindiv{
    display: flex;
    align-items: center;
    height: 168px;
}
#icon_upload{
    margin-bottom: 9px;
    font-size: 28px;
    margin-left: 4px;
}
.pull-left{
    font-weight: 700;
    color: black;
}
.clsimg{
    height: 80px;
    width: 80px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 4px;
}
.clspreview{
    margin-left: 55px;
    display: flex;
    flex-wrap: wrap;
}
.clsprev{
    margin-right: 16px;
    margin-bottom: 17px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}
.clsremove{
    border-radius: 28px !important;
    height: 30px;
    display: flex;
    right: 54px;
    margin-top: 29px;
    width: 0px;
    justify-content: center;
}
.error-msg{
    color: red;
    font-size: 25px;
    margin-left: -270%;
}
.clsdels{
    display: contents;
}
.fileupload1{
    margin-left: -203%;
}
.clscate{
    margin-left: -270%;
}
.clsctgrys{
    display: flex;
    justify-content: right;
    width: 100%;
    margin-right: 89px;
}
.lvpvctgry{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clsnav{
    text-align: center;
    justify-content: center;
    display: flex;
    cursor:pointer;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
.page_center{
    display: flex;
}
.clsdata{
    color: red;
    font-size: 25px;
    margin-left: 0% !important;
}
.theme-orange .sidebar .user-info{
    background: linear-gradient(
        45deg, #000000, #ffe700) !important;
    color: white !important;
    justify-content: center;
}
.sidebar .menu .list .menu-toggle:before{
    content: none;
}
.livepreview{
    width:20%;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .livepreview{
        display: none;
    }
    #dvPreview{
        margin-left: 0px;
        width:100%;
        margin-top :0px;
    }
    .clsctgrys {
        justify-content: center;
        margin-left: 190px;
    }
    .clsremove{
        position: relative;
        /*        margin-top: 24px;
                margin: 0;*/
        box-shadow: none !important;
        align-items: center;
        height: 25px;
    }
    .clsprev{
        /*margin-left: -6px;*/
        position: relative;
        height: 150px;
        width: 150px;
        /*margin-right: 16px;*/
        margin-right: 4px;

    }
    .maindiv {
        width: 100%;
        content: "";
        clear: both;
        display: table;
        align-items: center;
    }
    .btn-default{
        /*margin-left: -182px;*/
    }
    #upload_img_preview{
        margin-left: 28px;
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        margin-bottom: 25px;
        height: 137px;
        /*margin-top: -110px;*/
        /*margin-top: -35px;*/
        margin-top: 0px;

    }
    .cls_upload_div {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 55px;
    }
    .clssubmit{
        width: 36%;
        top: 195px;
        font-weight: 900;
        font-size: initial;
    }
    .maindiv .clsctgr .clscategory{
        left: 5%;
        padding: 10px;
        width: 20%;
        border: none !important;
    }
    #icon_upload{
        margin-top: -3px;
    }
    .live_preview_category_div b{
        display: none;
    }
    .clspreview{
        width: 100%;
        margin-left: 43px;
    }
    .dropdown-toggle{
        /*right: -47px;*/

    }
}


/*index page css*/
.video_input{
    width: 100%;
    display: flex;
    justify-content: center;
}
.video_link{
    display: flex;
    text-align: center;
    width: 45%;
    height: 45px;
    border-radius: 10px;
}
.video_link_add{
    width: 12%;
    border-radius: 10px;
    background: linear-gradient(45deg, #000000, #ffe700);
    color: white;
}
.clsvideo{
    display: none;
    text-align: center;
    color: black;
    font-size: 25px;
}
.card{
    margin-top: 5%;
}
.clsvideothead{
    text-align: center;
}
.video_tbody{
    text-align: center;
}
.multidel{
    left: unset !important;
    opacity: unset !important;
}
.btn_td a{
    height: 38px;
}

@media screen and (max-width: 600px) {
    .video_table{
        width: 100%;
        word-wrap: break-word;
        table-layout: fixed;
    }
    .th_id{
        width: 11%;
    }
    .th_action{
        width: 18%;
    }

}
