* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: black;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left;
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: lighter;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid black;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: black;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative;
    width: 100%;
    background-color: #eeeeee;
}

.fs-title {
    font-size: 25px;
    color: black;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
    width: 111%;
}

.purple-text {
    color: black;
    font-weight: normal
}

.steps {
    font-size: 24px !important;
    color: black;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

.fieldlabels {
    display: flex;
    margin-bottom: 5px;
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: black;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: black;
}

.progress {
    height: 20px
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.order_by{
    display: block;
    margin-bottom: 16px;
    width: 100% !important;
    height: 43px;
    color: grey;
    background-color: #eceff1;
    padding-left: 8px;
    border-color: #cccccc;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.cls_type{
    display: block;
    margin-bottom: 16px;
    width: 100% !important;
    height: 43px;
    color: grey;
    background-color: #eceff1;
    padding-left: 8px;
    border-color: #cccccc;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
.error-msg{
    color: #673ab7;
    font-size: 18px;
    margin-left: 64%;
    width: 100%;
    font-weight: 500;
}
.form-card {
    text-align: center;
    display: grid;
    max-width: 100%;
    width: 100%;
    background-color: #eeeeee;
}
.col-5{
    left: 115%;
}
.progress-bar{
    background-color: black !important;
}
.alert-danger{
    display: block;
    left: 0%;
    justify-content: center;
    padding: 0.75rem 2.25rem;
    width: 100%;
}
.alert{
    margin-bottom: 0rem;
}
.order_number_div{
    display: flex;
    align-items: end;
}
.order_by_error{
    display: none;
    left: 149%;
}
.date_error{
    display: none;
    left: 222%;
}
.time_error{
    display: none;
    left: 213%;
}
.type_error{
    display: none;
    left: 219%;
}
.client_name_error{
    left: 108%;
}
.advance_amount_error{
    left: 67%;
    width: 106%;
}
#adv_amo{
    width: 104%;
}
.remain_amount_error{
    left: 73%;
}
.total_amount_error{
    left: 97%;
}
.alert-success{
    display: none;
    left: 67%;
    font-size: 20px;
}
.error_msg{
    display: none;
    margin-bottom: 10px;
}
.clsinsert{
    width: 100%;
    left: 0;
}
.cls_ul li{
    text-align: left;
}
.clsball_color{
    width: 360px;
    height: 31px;
}
.clsball_blue{
    color: blue;
}
.clsball_red{
    color: red;
}
.clsball_black{
    color: black;
}
.clsball_purple{
    color: purple;
}
.clsball_green{
    color: green;
}
.clsball_div{
    display: flex;
    margin-top: 0px;
}
.radio_col_blue{
    margin-top: 7px !important;
    margin-left: 1px;
}
.radio_col_red{
    margin-top: 7px !important;
}
.radio_col_black{
    margin-top: 7px !important;
}
.radio_col_purple{
    margin-top: 7px !important;
}
.radio_col_green{
    margin-top: 7px !important;
}
.cls_count{
    width: 50px !important;
    text-align: center;
    border-radius: 5px;
    height: 43px;
}
.textfirst{
    border-radius: 5px;
}
#sub{
    width: 31px;
    height: 41px;
    margin-top: 3px;
    border-radius: 5px;
}
#add{
    width: 31px;
    height: 41px;
    margin-top: 3px;
    border-radius: 5px;
}
.wrap{
    width: 23%;
    display: flex;
    margin-top: -69px;
    margin-left: 85%;
}

#inputTag{
    display: none;
}
div.mm-dropdown {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 13px;
}

div.mm-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: initial !important;
}

div.mm-dropdown ul li,
div.mm-dropdown div.textfirst {
    padding: 0;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
    background-color: #eceff1;
}

div.mm-dropdown div.textfirst img.down {
    float: right;
}

div.mm-dropdown ul li:last-child {
    border-bottom: 0;
}

div.mm-dropdown ul li {
    display: none;
    padding-left: 25px;
}

div.mm-dropdown ul li.main {
    display: block;
}

div.mm-dropdown ul li img {
    width: 20px;
    height: 20px;
}
div.mm-dropdown1 {
    border: 1px solid #ddd;
    width: 97%;
    border-radius: 3px;
    margin-left: 60px;
}

div.mm-dropdown1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: initial !important;
}

div.mm-dropdown1 ul li,
div.mm-dropdown1 div.textfirst {
    padding: 0;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
}

div.mm-dropdown1 div.textfirst img.down {
    float: right;
    margin-top: 5px;
}

div.mm-dropdown1 ul li:last-child {
    border-bottom: 0;
}

div.mm-dropdown1 ul li {
    display: none;
    padding-left: 25px;
}

div.mm-dropdown1 ul li.main {
    display: block;
}

div.mm-dropdown1 ul li img {
    width: 20px;
    height: 20px;
}
.input-tags {
    width: 100%;
    padding: 15px;
    display: block;
    margin: 0 auto;
}
.label-info {
    background-color: #000000;
    padding: 3px;
    border-radius: 5px;
}
.form-control{
    border-radius: 0;
    width: 100%;
    border: none;
    box-shadow: none;
    padding-left: 0;
}
.textfirst{
    text-align: initial;
}
.bootstrap-tagsinput{
    width: 100%;
    border: 0;
    max-width: none;
    box-shadow: none;
    text-align: initial;
}
.form-card .row{
    width: 100%;
    margin-bottom: -28px;
}
.foil_ball_input{
    height: 40px !important;
    width: 77% !important;
}
.foil_ball_div{
    display: flex;
}
.foil_ball_qty{
    height: 27px;
    width: 50%;
    display: flex;
    justify-content: end;
}
.foil_ball{
    height: 27px;
    width: 50%;
}
.foil_ball_text{
    display: flex;
    width: 100%;
}
.pillar_input{
    height: 40px !important;
    width: 77% !important;
}
.pillar_text{
    display: flex;
    width: 100%;
}
.pillar_div{
    display: flex;
}
.pillar_qty{
    height: 27px;
    width: 50%;
    display: flex;
    justify-content: end;
}
.pillar_lable{
    height: 27px;
    width: 50%;
}
.clsgate_div{
    display: flex;
    width: 100%;
    margin-bottom: 13px;
}
.clsget_radio_div{
    justify-content: flex-start;
    display: flex;
    width: 50%;
    height: 24px;
    align-items: baseline;
}
.clsback_radio_div{
    display: flex;
    width: 80%;
    height: 24px;
    align-items: baseline;
}
.clsprop_main_div{
    display: flex;
    align-items: baseline;
}
.clsprop_radio{
    display: flex;
    width: 20%;
    align-items: baseline;
}
.yes_select{
    width: 72%;
}
.clsstage_main_div{
    display: flex;
    align-items: baseline;
}
.clsstage_radio{
    display: flex;
    width: 20%;
    align-items: baseline;
}
.yes_input{
    width: 70%;
    margin-left: 60px;
}
/*#no_gate{
    width: 20% !important;
}
#yes_gate{
    width: 20% !important;
}
#no_back{
    width: 20% !important;
}
#yes_back{
    width: 20% !important;
}*/
.clssofa_main_div{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.clssofa_div{
    display: flex;
    width: 50%;
}
.sofa_radoi_yes{
    width: 197px;
}
.fog_wrap{
    display: flex;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.machine_div{
    display: flex;
    width: 50%;
    align-items: baseline;
    justify-content: flex-end;
}
.machine_lable{
    margin-left: 34%;
}
.clsback_main_div{
    display: flex;
    width: 58%;
    margin-left: 32px;
    justify-content: flex-end;
}
.step1{
    flex: none;
    max-width: none;
    bottom: 47px;
    left: 3%;
}
.step2{
    flex: none;
    max-width: none;
    bottom: 42px;
    left: 3%;
}
.step3{
    flex: none;
    max-width: none;
    bottom: 42px;
    left: 3%;
}
.step4{
    left: 3%;
}
.img_right{
    left: 116px;
}
.img_text1{
    left: 131px;
}
.sidebar .user-info .info-container{
    float: none;
}
.orders_info{
    width: 251px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 19px !important;
    margin-top: 6px;
}
.dropdown-menu.inner{
    display: block;
}
.btn-default{
    height: 43px;
    width: 102% !important;
    margin-left: -10px;
    background-color: #eceff1 !important;
}
.bootstrap-tagsinput{
    background-color: #eee !important;
}
.sidebar .menu .list .menu-toggle:before{
    content: none;
}
.theme-orange .sidebar .user-info{
    background: linear-gradient(
        45deg, #000000, #ffe700) !important;
    color: white !important;
}
.sofa{
    margin-left: 8px;
}
.container-fluid .col-xl-5{
    flex: 0 0 50%;
    max-width: 50%;
    border: 1px solid;
    padding: 20px !important;
}
#account:before {
    content: "\f007" !important;
}
#personal:before{
    content: "\f217" !important;
}
.complete {
    display: block;
    width: 20%;
    margin-bottom: 10px;
}
.Payment_recive {
    display: block;
    width: 20%;
    margin-bottom: 10px;
}
.cancel{
    display: block;
    width: 20%;
    margin-bottom: 10px;
}
.complete_submit {
    width: 15%;
    height: 33px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 10px;
}
.yes_complete_tag .bootstrap-tagsinput input{
    margin-bottom: 5px !important;
}
.yes_complete_tag{
    /*display: flex;*/
    width: 100%;
}
.payment_select{
    width: 100% !important;
    margin-left: 0px !important;
    margin-bottom: 10px;
}
.form_submit{
    margin-left: 87% !important;
}
.justify-content-center .col-3{
    margin-left: 55px;
}
.place_order_msg{
    margin-left: 75px;
}
.whatsapp{
    margin-top: 43px !important;
    width: 80% !important;
    margin-left: 10%;
    background-color: black !important;
    color: white !important;
}

@media screen and (max-width: 400px) {
    .ds-f-100{
        width:100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .form-card .row{
        width: 100%;
        margin-bottom: -28px;
    }
    .container-fluid .col-xl-5{
        flex: none !important;
        max-width: none !important;

    }
    .fs-title{
        /*width: 211% !important;*/
    }
    .alert-danger{
        width: 100%;
    }
    .step1{
        flex: none;
        max-width: 100%;
        bottom: 42px;
        left: 7%;
        justify-content: end;
    }
    .step2{
        flex: none;
        max-width: none;
        bottom: 42px;
        left: 7%;
    }
    .step3{
        flex: none;
        max-width: none;
        bottom: 42px;
        left: 7%;
    }
    .step4{
        left: 66%;
        bottom: 40px;
    }
    .clsball_color{
        width: 100%;
    }
    .bootstrap-tagsinput{
        padding: 0;
    }
    .foil_ball_div{
        display: block;
    }
    .foil_ball{
        width: 100%;
        margin-top: -12px;
    }
    .foil_ball_input{
        margin-left: 0px !important;
        width: 100% !important;
        margin-top: -24% !important;
    }
    .foil_ball_qty{
        margin-top: 53px;
        margin-left: -33px;
    }
    .wrap{
        display: flex;
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-right: 64%;
        height: 50px;
        width: 100%
    }
    .clsget_radio_div{
        width: 100%;
    }
    .cls_back{
        margin-left: 0px !important;
        align-items: baseline;
    }
    .pillar_input{
        margin-left: 0px;
        margin-top: -77px !important;
        width: 100% !important;
    }
    .pillar_qty{
        justify-content: unset;
        margin-top: 45px;
    }
    .clsprop_main_div{
        margin-top: 10px;
    }
    .clsstage_radio {
        width: 26%;
    }
    .clssofa_div{
        align-content: baseline;
        margin-left: 0px;
        width: 48%;
    }
    .machine_div{
        width: 52%;
    }
    .fog_wrap{
        margin-right: 0;
    }
    .cls_count{
        height: 43px;
        width: 55.44%!important;
    }
    #sub{
        width: 22.33%;
    }
    #add{
        width: 22.33%;
    }
    .clsback_main_div{
        margin-left: 0;
        width: 125%;
    }
    .pillar_div{
        display: block;
    }
    .clsprop_radio {
        width: 29%;
        margin-left: 0;
    }
    #sofa_radio_no{
        margin-top: 7px !important;
    }
    #sofa_radio_yes{
        margin-top: 7px !important;
    }
    .mm-dropdown1{
        width: 80% !important;
    }
    .yes_input{
        margin-left: 70px;
    }
    .justify-content-center .col-7 {
        flex: none;
        max-width: none;
    }
    .justify-content-center .col-3 {
        flex: 0 0 37% !important;
        max-width: none;
    }
    .place_sucess{
        margin-left: 10px;
    }
}