.theme-orange .user-info{
    display: flex;
    padding-left: 1px;
}
.clsnav{
    text-align: center;
    justify-content: center;
    display: flex;
    cursor:pointer;
}
.page_center{
    display: flex;
}
.error-msg{
    color: red;
    font-size: 25px;
    float: right;
}
.cls_search_div{
    margin-bottom: 10px;
    width: 99%;
}
.clssearch{
    text-align: center;
    width: 100%;
}
.filter_div{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}
.cls_function_class{
    padding: 20px;
    width: 100%;
}
.theme-orange .muldel {
    left: 32px;
    opacity: 1;
    margin-top: -4px;
}
.clsmuldel{
    width: 99%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.clscreate{
    width: 50%;
}
.cls_create{
    width: 99%;
}
.material-icons{
    margin-top: 6px;
    position: absolute;
    margin-left: 76.5%;
}
.theme-orange .sidebar .user-info{
    background: linear-gradient(
        45deg, #000000, #ffe700) !important;
    color: white;
}
.theme-orange .sidebar .user-info .info-container{
    left: 15px;
}
.order_tbody{
    text-align: center;
}
.clsthead{
    text-align: center;
}
.order_color{
    width: 89px;
}
#clsfilter_date{
    width: 102px;
    height: 35px;
    font-weight: 600;
    margin-left: 19px;
    align-items: center;
}
.sidebar .menu .list .menu-toggle:before{
    content: '';
}
.order_details{
    text-align: center;
}
.customer_details{
    text-align: center;
}
.invoice-head td {
    padding: 8px;
}
.container {
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    color:white;
    padding: 30px;
    border: 1px solid black;
}
.invoice-body{
    background-color:transparent;
    width: 100%;
}
.invoice-thank{
    padding: 5px;
    text-align: center;
    font-size: 16px;
}
address{
    margin-top:15px;
    margin-left: 5px;
}
.container .row{
    justify-content: space-between;
    width: 100%;
}
.invoice_thanks{
    justify-content: center !important;
    display: block;
}
.customer_div{
    display: flex !important;
    align-items: center !important;
    text-align: center;
    width: 70% !important;
}
.img-rounded{
    width: 250px;
}
.invoice_head_cls{
    text-align: center;
    color:white;
}
.invoice_pro{
    color:white !important;
}
.invoice_head_body{
    text-align: center;
    color: #bd9256;
}
.table-hover .invoice_head_body tr:hover{
    color: white;
}
.invoice_body_pro{
    text-align: center;
    color: #bd9256;
}
.invoice_body_pro :hover{
    color: white;
}
table thead tr{
    text-align: center !important;
}
.span4{
    width: 25%;
}
.table-responsive{
    overflow-x: unset !important;
}
#filter_date{
    width: 49.4%;
}
.function_delete{
    width: 50%;
}
.add_del_btn_div{
    display: flex;
    margin-bottom: 10px;
}
span.elipsis {
    display:none
}
address a{
    color: #bd9256;
    font-weight: bold;
}
address a:hover{
    color: white;
}
.span3 a {
    color: #bd9256;
    font-weight: bold;
}
.span3 a:hover{
    color: white;
}
#customer_image_upload{
    display: none;
}
[type=search]{
    -webkit-appearance: auto;
}
.order_status{
    height: 30px;
}
.panding_color{
    background-color: #ffff0085;
    font-weight: bold;
}
.complete_color{
    background-color: #b3e5b3;
    font-weight: bold;
}
.cancel_color{
    background-color: #ff000087;
    font-weight: bold;
}
.done_color{
    background-color: #008000d6;
    font-weight: bold;
}
.show_order_fltr_div{
    width: 50%;
}
.show_order_data_filter{
    width: 99%;
    margin-left: 5px;
}
.show_order_data_filter .btn-default{
    display: none;
}
.show-tick{
    height: 32px;
}
.invoice_body_pro .table-hover tbody tr:hover{
    color: white;
}
.customer_mobile_div{
    display: none;
}
.clssearch{
    height: 32px;
}
#button{
    margin-left: 90%;
    margin-top: -23px;
}
.content .export_to_pdf{
    margin-left: 75.5%;
}
.td_date{
    width: 13%;
}
@media screen and (max-width: 500px) {
    .card{
        overflow-x:auto !important;
    }
    .container{
        overflow-x:auto !important;
    }
    .customer_div{
        margin-left: 16px;
    }
    .span4{
        width: 30%;
    }
    .cls_address{
        justify-content: center !important;
        margin-left: -2px;
    }
    .invoice_thanks{
        margin-left: 17px;
    }
    address{
        width: max-content !important;
    }
    .btn_td{
        display: flex;
    }
    .clsnav{
        justify-content: flex-start;
    }
    .btn_td .show-tick{
        height: unset;
    }
    .cls_search_div{
        width: 100%;
    }
    .clscreate{
        margin-left: 7px;
    }
    .customer_div{
        display: none !important;
    }
    .img-rounded{
        margin-left: 0 !important;
    }
    .customer_row_div{
        margin-left: 0!important;
    }
    .customer_mobile_div .invoice-head{
        color: #bd9256;
        border: 1px solid white;
    }
    .fix_div{
        width: 95%;
    }
    .invoice-thank{
        margin-right: 52px;
    }
}
@media screen and (max-width: 800px) {
    .members_profiles .table{
        margin-left: -41px;
    }
    .theme-orange .muldel{
        left: 11px;
        margin-top: -6px;
    }
    .clsview{
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .invoice-head{
        margin-top: 104px;
    }
    .customer_div{
        display: none !important;
    }
    .customer_mobile_div{
        width: 100%;
        display: block;
        margin-top: -87px;
    }
    .customer_row_div{
        margin-left: 4px;
    }
    .img-rounded{
        margin-left: 211px;
    }
    address{
        margin-left: 22px;
        width: 100%;
    }
    .cls_search_div{
        width: 100%;
    }
    .cls_create{
        margin-left: 4px;
    }
}